{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-md-4 py-5">
            <h2 >Created task</h2>
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'create_task' %}" method="post">
                        {% csrf_token %}
                        <div >
                            <label for="title" class="form-label">Title</label>
                            {{form.title}}
                            
                        </div>
                        <div >
                            <label for="description" class="form-label">Description</label>
                            {{form.description}}
                          
                        </div>
                        <div >
                            <label for="important" class="form-label">Important</label>
                            {{form.important}}
                        </div>
                        <div >
                            <button class="btn btn-primary" style="width: 100%;" >
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  
{% endblock %}