{% extends 'base.html' %}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="text-center display-3">Django App</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit laudantium quasi quam
            dolores consequatur dolorem non totam earum nostrum optio facilis, beatae exercitationem cupiditate esse
            officia nulla sapiente doloremque impedit vel enim ipsam. Temporibus recusandae quisquam ipsa commodi, velit
            dolor cumque dolorem perspiciatis numquam doloribus laborum necessitatibus itaque ducimus debitis labore
            nesciunt. Odit incidunt illum necessitatibus dolorem corporis, sed, neque minus suscipit aperiam officia
            architecto quia dicta totam numquam doloribus vero. At mollitia facilis temporibus voluptate debitis hic,
            quae, sit eius pariatur animi culpa dolores quas voluptates unde saepe. Blanditiis architecto non omnis
            esse, quibusdam error iure! Officia, deserunt ex!
        </p>
        
        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary m-4">Signin</a>
            <a href="/signup/" class="btn btn-dark m-4">signup</a>
        </div>  
      
    </section>
</main>
{%endblock%}