{% extends 'base.html' %}

{% block content %}
<div class="container py-2" >
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form action="/signin/" method="post">
                        {{error}}
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="username" class="form-control" placeholder="Enter username"
                                name="username" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Enter password"
                                name="password" id="password">
                        </div>
                        <button class="btn btn-primary">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}