{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row d-flex justify-content-center">
        <div class="col col-md-6 py-5">
           <div class="card">
            <div class="card-body">
                <h1> {{task.title}}</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">
                        Update
                    </button>
                </form>
                <div class="d-flex justify-content-center gap-5">
                    <form action="{% url 'task_complete' task.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-secondary">
                            Completed
                        </button>
                    </form>
                    <form action="{% url 'delete_task' task.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger">
                            deleted
                        </button>
                    </form>
                </div>
            </div>
           </div>
        </div>
    </div>
</main>
{% endblock %}